.sup-exec {
    background-color: #eff0f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: grid;
    grid-gap: 10px;
}

.sup-exec-header {
    background: #6ec800;
    font-size: large;
}

.sup-exec-error {
    font-style: italic;
    color: crimson;
}
